---
import { links } from "@utils/constants/socials";

import Badge from "./Badge.astro";
import EmailIcon from "@icons/Mail.astro";
import GithubIcon from "@icons/Github.astro";
import LinkedinIcon from "@icons/Linkedin.astro";
import SocialPill from "./SocialPill.astro";
import Paperclip from "./icons/Paperclip.astro";

const { linkedin, github, email } = links;

const socials = [
  {
    path: linkedin,
    title: "LinkedIn",
    iconComponent: LinkedinIcon,
  },
  {
    path: github,
    title: "Github",
    iconComponent: GithubIcon,
  },
  {
    path: email,
    title: email.slice(7),
    iconComponent: EmailIcon,
  },
];
---

<div class="mb-6">
  <h1
    class="mb-6 flex items-center justify-start gap-x-2 text-4xl font-bold text-gray-100 md:mb-8 md:text-6xl lg:gap-x-5"
  >
    Hi, I'm Leo.
    <a href={linkedin} target="_blank" rel="noopener" class="flex">
      <Badge>Open to Work!</Badge>
    </a>
  </h1>
  <h3 class="text-xl font-semibold text-gray-200 md:text-3xl mb-3">
    <span
      class="bg-gradient-to-r from-indigo-600 to-green-500 bg-clip-text text-transparent"
      >Frontend Developer</span
    >
    . +2 Years Experience. Passionate about technology and code. I like to learn
    about new things for the web. I usually work with React, TypeScript and Node
    for backend.
  </h3>
  <p class="text-sm text-gray-400">Managua, Nicaragua.</p>
</div>

<nav class="flex items-center gap-x-4 flex-wrap gap-y-3 mb-6">
  {
    socials.map((item) => (
      <SocialPill path={item.path} customClass="text-gray-300">
        <item.iconComponent customClass="size-4 sm:size-5 text-white" />
        {item.title}
      </SocialPill>
    ))
  }
</nav>

<a
  download="CV - Leonardo Torres"
  href={"pdfs/CV - Leonardo Torres - en.pdf"}
  class="p-2 bg-gradient-to-br text-sm from-cyan-600 to-emerald-500 rounded-xl hover:from-cyan-600/90 hover:to-emerald-500/90 transition-colors text-white font-semibold flex items-center justify-center gap-x-1 uppercase tracking-wider shadow-2xl shadow-cyan-600 animate-pulse-slow sm:w-[150px]"
>
  Resume
  <Paperclip customClass="size-4" />
</a>
