---
interface Props {
  customClass?: string;
  title?: string;
  id: string;
}

const { customClass, title, id } = Astro.props;
---

<section
  id={id}
  class=`mb-20 md:mb-36 mx-auto w-full max-w-[1200px] ${customClass ?? ''}`
>
  {
    title && (
      <h2 class="text-3xl md:text-5xl font-bold mb-6 text-gray-100">
        {" "}
        {title}
      </h2>
    )
  }
  <slot />
</section>
