---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Current work",
    title: "Web Developer",
    company: "SMBS",
    description:
      "I have collaborated in the development of different projects, as a creator of components and utilities for web applications and building their own APIs. Also I worked with web scraping using Python.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        {" "}
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
