---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Jan 2023 - Jul 2024",
    title: "Web Developer",
    company: "Smart Business Solutions (SMBS)",
    jobFunctions: [
      "Collaborated on a Cloud project, developing scalable user interface components using Angular",
      "Developed static pages using Vue.js",
      "Contributed to a scraping project using Python",
      "Developed an informative web application using React",
    ],
  },
  {
    date: "Jul 2022 - Dec 2022",
    title: "Web Developer | Intern",
    company: "Smart Business Solutions (SMBS)",
    jobFunctions: [
      "Developed web applications using Nextjs",
      "Developed APIs using Node.js and NestJS",
    ],
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        {" "}
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
