---
const sections = [
  {
    id: "#about",
    title: "About",
  },
  {
    id: "#experience",
    title: "Experience",
  },
  {
    id: "#projects",
    title: "Projects",
  },
];


---

<header class="sticky top-2 z-10" id="home">
  <div
    class="container mx-auto flex w-full items-center justify-center px-2 py-2 sm:px-4 sm:py-3 lg:px-8 lg:py-4 md:justify-between"
  >
    <div
      class="hidden rounded-full bg-gradient-to-br from-indigo-600 to-green-500 p-[3px] md:block"
    >
      <img
        class="h-16 w-16 rounded-full"
        src="images/profile.jpg"
        alt="leo photo"
      />
    </div>

    <nav
      class="flex w-full justify-between gap-x-0 md:gap-x-10 rounded-md font-semibold tracking-wide backdrop-blur-md backdrop-brightness-200 md:w-auto p-1 md:p-0"
    >
      {
      sections.map((section) => {
        return <a href=`${section.id}`>{section.title}</a>
        })
      }

    </nav>
  </div>
</header>

<style>

  a {
    color: white;
    padding: 8px 12.5px;
    position: relative;

  }

  a::before,
  a::after {
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all 0.25s ease;
    opacity: 0;
  }

  a::before {
    content: "";
    right: 0;
    top: 0;
    border-top: 3px solid #3e8914;
    border-right: 3px solid #2e640f;
    transform: translate(-100%, 50%);
  }

  a:after {
    content: "";
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2e640f;
    border-left: 3px solid #3e8914;
    transform: translate(100%, -50%);
  }

  a:hover:before,
  a:hover:after {
    transform: translate(0, -0);
    opacity: 1;
  }

  a:hover {
    color: #3da35d;
  }

  @media screen and (width < 640px) {
    a {
      padding: 4px 6.5px;
    }
  }
</style>
